/***************************
 * Card Match CSS Animations and Properties
 **************************/
 .cardImg{
    width: auto;
    height: 150px;
}

.flip-card {
	background-color: transparent;
	width: 300px;
	height: 200px;
	perspective: 1000px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card-back {
	transform: rotateY(180deg);
}

@keyframes colorChange {
	from {color: red;}
	to {color: blue;}
}

@keyframes crazyColor {
	from{background-color: blue;}
	to {background-color: red;}
}

@keyframes cardMoveLeft {
	from{left: 0%; top:50px;}
	to{left: 100%; top:50px;}
}

@keyframes cardMoveRight {
	from{left: 100%; top:50px;}
	to{left: 0%; top:50px;}
}

@keyframes cardSpinLeft {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes cardSpinRight {
	from {transform: rotate(360deg);}
	to {transform: rotate(0deg);}
}

.cardAnimation1 {
	position: absolute;
	animation-name: cardMoveLeft, cardSpinLeft;
	animation-duration: 10s, 10s;
	animation-direction: alternate;
	animation-timing-function: linear, linear;
	animation-iteration-count: infinite, infinite;
}

.cardAnimation2 {
	position: absolute;
	animation-name: cardMoveRight, cardSpinRight;
	animation-duration: 10s, 10s;
	animation-direction: alternate;
	animation-timing-function: linear, linear;
	animation-iteration-count: infinite, infinite;
}

#header {
	color: red;
	animation-name: colorChange;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#headerContainer{
	animation-name: crazyColor;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.cardTable {
	background-image: url('pics/cardbackground.png');
	background-repeat: repeat;
	background-color: #cccccc;
}